section.hero {
    /* margin-top: 3rem; */
    justify-content: space-between;
}
section.hero .my-details{
flex: 1;}
section.hero .my-details .avatar{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border: 1px solid #AA7280;
    padding: .2rem;
    border-radius: 50%;
}
section.hero .my-details .avatar img{
    width: 100%;
    height: 100%;
}
section.hero .my-details .objective h1.title{
    font-size: 2.5rem;
    color: var(--primary-text);
    margin-block: 1.5rem;
    line-height: 3rem;
}
section.hero .my-details .objective p.summary{
    color: var(--secondary-text);
    font-size: 0.8rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}
section.hero .my-details .objective div.social-icons {

    gap: 1.3rem;
}
section.hero .my-details .objective div.social-icons a{
    font-size: 1.6rem;
    color: var(--primary-text);
    transition: .3s;
}
section.hero .my-details .objective div.social-icons a .icon:hover{
    cursor: pointer;
    color: #AA7280;
    transition: .3s;
}
section.hero .animation{
    flex: 1;
}
@media  (max-width:800px){
    section.hero .animation{
        display: none;
    }
}