section.hero {
    margin-top: 3rem;
}
section.hero .my-details{
flex-grow: 1;}
section.hero .my-details .avatar{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border: 1px solid #AA7280;
    padding: .2rem;
    border-radius: 50%;
}
section.hero .my-details .avatar img{
    width: 100%;
    height: 100%;
}
section.hero .my-details .objective h1.title{
    font-size: 2.5rem;
    color: var(--primary-text);
    margin-block: 1.5rem;
    line-height: 3rem;
}
section.hero .my-details .objective p.summary{
    color: var(--secondary-text);
    font-size: 0.8rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}
section.hero .my-details .objective div.social-icons{
    font-size: 1.6rem;
    color: var(--primary-text);
    gap: 1.5rem;
    transition: .3s;
}
section.hero .my-details .objective div.social-icons .icon{
    padding: .5rem;
    border-radius: 50%;
    border: 1px solid #AA7280;
}
section.hero .my-details .objective div.social-icons .icon:hover{
    cursor: pointer;
    color: #AA7280;
    transition: .3s;
}