@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
header.d-flex{
    justify-content: space-between;
    padding: 1rem 0;
}
header.d-flex .name{
    font-family: "Playwrite AU SA", serif;
    font-size: 2rem;
    color: var(--primery-text);
    font-weight: bold; 
}
header.d-flex .name::first-letter{
    font-size: 3rem;
    color: var(--light-red);
}
header button.menu{
    display: none;
}
header.d-flex nav{
    background-color: var(--bg-header);
    padding: 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 10px rgba(53, 50, 50, 0.29);
}
header ul.d-flex{
    gap: 2rem;
}
header ul.d-flex li a{
    color: var(--primery-text);
    opacity: .8;
    font-weight: 500;
    font-size: .8rem;
    transition: .3s;
}
header ul li a:hover,
header .fixed ul.modal li a:hover{
    color: var(--light-red);
    opacity: 1;
    font-weight: 500;
    font-size: 1rem;
    transition: .3s;
}
header .icon-moon-o,
header .icon-menu,
header .icon-sun{
    background-color: var(--bg-header);
    padding: .8rem;
    border-radius: 50%;
    color: var(--secondary-text);
    cursor: pointer;
    border: 1px solid #fa80723b;
    transition: .3s;
}
header .icon-sun{
    color: orange;
}
header .icon-moon-o:hover,
header .icon-menu:hover,
header .icon-sun:hover{
    color: var(--primery-text);
    border: 1px solid #fa8072e3;
}
header .icon-remove{
    font-size: 1.3rem;
    color: var(--secondary-text);
    transition: .3s;
}
header .icon-remove:hover{
    color: crimson;
    rotate: 180deg;
}
header .fixed{
    position: fixed;
    inset: 0;
    background-color: #aa72806f;
    z-index: 10;
    backdrop-filter: blur(.5rem);
}
header .fixed ul.modal{
    animation: menu-animation .8s 1;
    width: 70%;
    margin:2rem auto 0;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: var(--secondary);
}
header .fixed ul.modal li{
    border-bottom: 1px solid var(--border-color);
    padding: .8rem 0;
}
header .fixed ul.modal li:first-child{
    border: none;
    text-align: right;
    padding: 0 0;
}
header .fixed ul.modal li:last-child{
    border: none;
}
header .fixed ul.modal li a{
    font-size: 1rem;
    color: var(--primery-text);
}
@keyframes menu-animation {
    0%{scale: 0;}
    50%{scale: 1.2;}
    100%{scale: 1;}
}
@media (max-width:850px) {
    header.d-flex .name{
        font-size: 1rem;
    }
    header.d-flex .name::first-letter{
        font-size: 2rem;
    }
    header.d-flex nav{
        display: none;
    }
    header button.menu{
        display: block;
    }
    
}